{{ editor_body }}


	   <form method="POST" id="sendForm" action="{{ data.action }}" onsubmit="sendu('sendForm');return false;">
        <div class="comm_form_add">
	
	   <div class="page_style">
	   	  <div class="page_cont">
          <ul class="spisok-all">
		  {% if fps_user_id == 0 %}
          <li>
            <span class="siu_title"><strong>Псевдоним: <font color="red">*</font></strong></span>
            <span class="siu_data"><input {{ data.disabled }} type="text" name="login" size="47" value="{{ data.add_comment_name }}" class="input_add" /></span>
          </li>
		  {% endif %}
		  {% if data.add_comment_captcha %}
		  <li>
		    <span class="siu_title"><strong>Код подтверждения: <font color="red">*</font></strong>
			<span class="about">Введите код с картинки, для проверки, что вы не робот.</span></span>
            <span class="siu_data">{{ data.add_comment_captcha }}</span>
		  </li> 
		  {% endif %}
		  <li class="margin" style="overflow:visible;">
            <textarea {{ editor_text }} name="message" >{{ data.add_comment_message }}</textarea>
          </li>
		  <li align="center">
            <input type="submit" name="send" value="Отправить" />
          </li>
          </ul>
		  </div>
      </div>
	  </div>
	  </form>

