<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='author' content='Andrey Brykin' />
<meta name='robots' content='index, follow' />
<meta name='rating' content='general' />
<meta name='generator' content='Atom-M CMS' />

<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/reset.css" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />

<script type="text/javascript" src="{{ www_root }}/data/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/send_message.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/jquery.form.min.js"></script>
 
{{ editor_head }}

<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<script type="text/javascript" src="{{ template_path }}/js/tipsy.js"></script> 
<script type="text/javascript" src="{{ template_path }}/js/libs.js"></script>
<!--[if IE]> 	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]--> 
<!--/FancyBOX -->

<script type="text/javascript">
{% if fps_user_id %}
	check_pm('{{ fps_user_id }}');
{% endif %}
</script>
</head>


<body>

<header>
<div class="h_top">
<div class="h_navig">
<a class="h_logo north" href="/" title="Главная страница"></a>
<ul class="h_nav">
<li class="top"><a class="animation" href="/">Главная страница</a></li>
<li class="top"><a class="animation" href="/forum/">Форум портала</a></li>
<li class="top"><a class="animation" href="/loads/">Каталог загрузок</a></li>
<li class="top"><a class="animation" href="/stat/">Каталог статей</a></li>
<li class="top"><a class="animation" href="/news/">Новости игровой индустрии</a></li>

<li class="top"><a href="#" class="down animation"></a>
<ul class="animation">
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
<li><a class="animation" href="#">Дополнительный пункт в меню</a></li>
</ul>
</li>

</ul>

<div class="search_h">

  <form method="POST" action="{{ www_root }}/search/"> 
        <input type="hidden" name="subaction" value="search"> 
      <input name="search" value="поиск по сайту..." onBlur="if(this.value=='') this.value='поиск по сайту...';" onFocus="if(this.value=='поиск по сайту...') this.value='';" type="text" class="search_input animation">
        <input value=" " type="submit" name="send"> 
       </form> 


</div>

</div>
</div>
</div>
</header>

<div class="content content_left">
<div class="side_left">

<div class="h_profile">
<div class="h_Tprof">
{% if fps_user_id %}<a class="h_prof_exit animation" href="{{ www_root }}/users/logout">x</a> {% endif %}
<div class="prof_name">Панель <span>управления</span>
{% if fps_user_id %}
<div class="desc">Ваша страница на сайте</div>
{% else %}
<div class="desc">Форма входа для пользователей</div>
{% endif %}
</div>
</div>
{% if fps_user_id %}
<div class="h_Cprof">

<div class="prof_ava"><a href="{{ personal_page_link }}"><img src="{{ fps_user_avatar_url }}" alt="" /></a>
<a class="setting animation" href="{{ www_root }}/users/edit_form/"></a></div>
<div class="type">Уважаемый  <span>{{ fps_user_name }}</span>, желаем вам удачного дня и хорошего настроения</div>
</div>
<ul class="h_profNav">
 {% if fps_admin_access == 1 %}
<li class="animation"><a href="{{ www_root }}/admin/" target="_blank">Панель администратора</a></li>
{% endif %}
<li class="animation"><a href="{{ personal_page_link }}">Персональная страница </a> </li>
<li class="animation"><a href="{{ www_root }}/users/pm/">Личные сообщения <span class="pm_new animation"> {{ unread_pm }} </span></a> </li>
<li class="animation"><span class="icon1"></span><a href="/loads/add_form/">Добавить файл</a></li>
<li class="animation"><span class="icon2"></span><a href="/news/add_form/">Добавить новость</a></li>
<li class="animation"><span class="icon3"></span><a href="/stat/add_form/">Добавить статью</a></li>
</ul>

{% else %}
<div class="h_login">

<form id="mloginForm" action="/users/login/" method="post">
	<div class="login_user"> <input type="text" class="animation" name="username" value="Ваше имя" onBlur="if(this.value=='') this.value='Ваше имя';" onFocus="if(this.value=='Ваше имя') this.value='';"> </div>
<div class="login_user"> <input type="password" class="animation" name="password" value="*****" onBlur="if(this.value=='') this.value='*****';" onFocus="if(this.value=='*****') this.value='';" > </div>
<div class="login_down">
<span class="remeber">Запомнить: <input type="checkbox" name="autologin" value="1"></span>
	<button type="submit" onClick="sendu('mloginForm'); return false" class="login_submit animation">произвести вход</button>
	<input type="hidden" value="submit" name="submitForm">
</div>
<div class="h_link"><a href="{{ www_root }}/users/add_form">Регистрация на сайте</a> | <a href="{{ www_root }}/users/new_password_form/">Забыл пароль</a> </div>
</form>

</div>
{% endif %}
</div>

<div class="box">
<div class="box_title"><span>Последнии</span> комментарии</div>
<div class="box_content">

{{ last_comments }}



</div><!--box_cont-->
</div><!--box-->

<div class="box">
<div class="box_title"><span>Активные </span> пользователи</div>
<div class="box_content">

{{ users_rating }}

</div>
</div>


<div class="box">
<div class="box_title"><span>Статистика </span> сайта</div>
<div class="box_content online_box">

<div class="online_li">Сейчас онлайн: <span class="num">{{ all_online }}</span></div>
<div class="online_li">Пользователей: <span class="num">{{ users_online }}</span></div>
<div class="online_li">Гостей: <span class="num">{{ guests_online }}</span></div>
<div class="online_user_list">
{% if online_users_list %}
{{ online_users_list }}
{% else %}
<div class="online_none">Онлайн только гости</div>
{% endif %}
</div>
</div>
</div>



</div>
<div class="side_right">
<div class="aChat">

 {{ fps_chat }}

</div>



<div class="content_news">

{{ content }}

{{ comments }}

{% if comments_pagination %}
<div class="pagination">
<div class="pages">{{ comments_pagination }}</div></div>
{% endif %}


<div class="paginator"><div class="pages"></div></div>
        {{ comments_form }}

</div>

{% if pagination %}
<div class="pagination">
<div class="pages">{{ pagination }}</div></div>
{% endif %}




</div><!--side_right-->


</div>

<div class="footer">
За материалы на портале администрация ответственность не несет.<br>
© AtomX.net 2011-2013 Копирование рипов разрешено с учетом обратной ссылки на ресурс.<br/>
Templates <a href="http://atomx.net/users/info/462">Mishka</a> специально для AtomM
</div>
</body>
</html>