/* 
templates by Mishka 
url: atomx.net 
free templates for AtomX cms
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u,  center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
	content:none;
}
img {
	border:0 none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a {
    color:#6196ca;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
input, select, button {
	vertical-align:middle;
	font-family:'Tahoma', sans-serif;
}
.clr:before, .clr:after {
	clear:both;
	display:block;
	line-height:0;
	content:"";
}
.lcol, .rcol, form {
	display:inline;
}
.lcol {
	float:left;
}
.rcol {
	float:right;
}
input, textarea, input:active, textarea:active, :focus {
	outline:none;
}
textarea {
	resize:none;
}
.green {
	color:#72c53e;
}
.red {
	color:#e23f86;
}
.thide {
    overflow: hidden;
    display: block;
    height: 0;
    line-height: normal;
}

@font-face {
    font-family: 'Play';
    src: url('../fonts/play-regular.eot');
    src: local('Play'), local('Play Regular'), url('../fonts/play-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Play';
    src: local('Play'), local('Play Bold'), url('../fonts/play-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaa-regular.eot');
    src: local('Comfortaa'), local('Comfortaa Regular'), url('../fonts/comfortaa-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), local('Comfortaa Bold'), url('../fonts/comfortaa-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), local('Comfortaa Light'), url('../fonts/comfortaa-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}