{% if entities %}
{% for entity in entities %}
<div class="news_loop">
<div class="news_left">
<div class="news_view">Загрузок: <div class="num">{{ entity.downloads }}</div></div>

<a href="{{ entity.atom.img_url_1 }}" class="gallery"><img src="{{ entity.atom.img_url_1 }}" /></a></div>
<div class="news_ugl"></div>
<div class="news_title"><a href="{{ entity.atom.entry_url }}">{{ entity.title }}</a> {{ entity.atom.moder_panel }}</div>
<div class="news_message">
{{ entity.atom.announce }}
</div>
</div>

<ul class="news_detals">
<li class="one east"  title='Дата добавления материала'><span class="date"></span> {{ entity.date }}</li>
<li class="east" title="Пост опубликовал"><span class="author"></span><a class="animation east" href="{{ entity.atom.profile_url }}" title="перейти на персональную страницу автора">{{ entity.author.name }}</a></li>
<li class="one east"  title='Категория материала'><span class="category"></span><a class="animation" href="{{ entity.atom.category_url }}">{{ entity.category.title }}</a></li>
<li class="news_link animation"><a href="{{ entity.atom.entry_url }}">Читать далее</a></li>
</ul>
{% endfor %}
{% else %}
<div class="no_result"><div class="infcont">Нет доступных материалов для просмотра</div></div>
{% endif %}