<form name="newPasswordForm" id="sendForm" action="{{ context.action }}" method="POST" onsubmit="sendu('sendForm'); return false">
<div class="page_style">
	  <div class="page_title"><h3>Восстановление пароля</h3></div>
	  <div class="page_cont">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>Имя(логин):</strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="username" maxlength="30" value="" /></span>
          </li>
		  <li style="text-align: center;font-size: 25px;">ИЛИ</li>
		  <li>
            <span class="siu_title"><strong>Адрес e-mail:</strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="email" maxlength="60" /></span>
          </li>
		  <li>
           <div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Отправить" /> </div>
          </li>
		  </ul>
	  </div>
</div>
</form>
