{{ editor_body }}

<div class="user_style">
	    <div class="uProfile_title">Беседа с {{ context.interlocutor }}</div>
	 	  <div class="user_cont">
	  <div class="pm_block">
		  <ul class="userslinks">
		         <li><a href="{{ www_root }}/users/info/{{ fps_user_id }}">Мой профиль</a></li>
				 <li class="active"><a> Беседа с {{ context.interlocutor }}</a></li>
                 <li><a href="{{ www_root }}/users/pm/">Отправленные</a></li>
				 <li><a href="{{ www_root }}/users/send_pm_form/">Отправить ЛС</a></li>
				 <li><a href="{{ www_root }}/users/send_mail_form/{{ message.user.id }}">Отправить на почту</a></li>
     <li class="detete">	
			     Удалить <input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/delete_message_pack/');" value="(0)">
	            <div style="display:none;"><form id="actionPack" action="" method="POST"></form></div>
	           </li>				 
		  </ul>
		  </div>
	      <div class="userinfo">
		    <ul class="userlist">
			  
			
			
		     {% if messages %}
             {% for message in messages %}
                          
							<li {% if message.viewed != 1 %}class="send1"{% endif %}>
							<div class="userlistavatar"><a href="{{ www_root }}/users/info/{{ message.user.id }}"><img src="{{ getAvatar(message.user.id) }}" class="avatar" alt=""/></a></div>
							<ul class="pm_detal_user">
							<li>{% if message.direction == 'in'  %} Отправил: <a href="{{ www_root }}/users/pm_view/{{ message.user.id }}">{{ message.user.name }} </a> {% else %} Получатель: <a href="{{ www_root }}/users/pm_view/{{ message.user.id }}">{{ message.user.name }} </a>{% endif %}</li>
							<li>Тип сообщения:{% if message.direction == 'in'  %} Входящие {% else %} Исходящие {% endif %}</li>
							<li>Дата: {{ message.sendtime }}</li>
							</ul>
							<div class="pm_text">{{ message.text }}</div>
							<div class="right">{{ message.delete }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.user.id }}" /></div>
							<div style="border-bottom:1px solid #eee;"></div>
							</li>
			{% endfor %}
            {% endif %}
			
	         <li id="send_pm_form">
			      <form name="sendForm" id="sendForm" action="/users/send_pm" method="POST" enctype="multipart/form-data" onsubmit="sendu('sendForm'); return false">
			         <textarea {{ editor_text }} class="text-area" name="mainText"></textarea>
			         <input type="text" name="toUser" id="toUser" maxlength="30" value="{{ context.interlocutor }}" style="display: none" />
			         <input class="subm" type="submit" name="submitForm" value="Отправить" />
                  </form>
			   </li>
		  
           </ul>	
	      </div>
	  </div>
	  </div>
    </div>