<div class="page_style">
	  <div class="page_title"><h3>Правила как правила</h3></div>
	  <div class="page_cont">
          <ul class="spisok-all">

            {{ context.rules }}
  
          </ul>
		 
		  <div class="submit_add" align="center">  <a class="button" href="{{ context.reg_url }}">Я согласен</a> </div>
      </div>
</div>