<div id="chat_meta"></div>

<form action="{{ data.action }}" method="POST" onSubmit="submitChat(this); return false;">
<div class="aChat_add">
<!--<div class="avatar"><img src="http://atomx.net/sys/avatars/1.jpg" alt="" />
<img src="{{ fps_user_avatar_url }}">
</div> --> <!--На перспективу, как только заработают глобальные метки, расскомментировать-->
		{% if data.captcha %}
	
	<div class="form_add">
		<textarea id="chatModule" name="message">{{ data.message }}</textarea>
	</div>

	<div class="aChat_add_right">
<div class="chat_captcha">{{ data.captcha }}</div>

	        <span style="display:none" id="chatWait" class="vectorcssloader">
	              <span class="css3loading"></span> 
            </span>
			<input type="submit" name="send" value="Отправить" class="add_chat animation" />
		
		</div>
		{% else %}
		
		<div class="form_add_nocapch">
		<textarea id="chatModule" name="message">{{ data.message }}</textarea>
	</div>

	<div class="aChat_add_right">
<div class="chat_captcha">{{ data.captcha }}</div>

	        <span style="display:none" id="chatWait" class="vectorcssloader">
	              <span class="css3loading"></span> 
            </span>
			<input type="submit" name="send" value="Отправить" class="add_chat animation" id="chat_go" />
		
		</div>
		
		{% endif %}
</div>
</form>
