<html>
<head>
<title>Вход на форум</title>
<link rel="icon" href="{{ www_root }}/sys/img/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{ www_root }}/sys/img/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />
</head>
<body>
<div class="password_action">
<div class="page_style">
	   <div class="top_name">Этот форум закрыт на пароль
	    <div class="right"><a href="/forum"> назад </a></div>
	   </div>
	  
	  <div class="page_cont">


	<div>
	<form method="POST" action="">
     <div class="left password_lock_labels">Введите пароль</div>
	<div class="left"><input class="input_password_lock" style="height:30px;" type="text" name="forum_lock_pass" />
	</div>
	<br /><br />
		<input type="submit" name="send" value="Отправить">
	</form>
	</div>
    </div>
</body>
</html>