{% if forum.subforums %}
<div class="forum_category">
	  <div class="forum_title"> <div class="forum_name">{{ forum.cat_name }}</div> </div>
      <table width="100%" class="forum_table">
	  {% if forum.subforums %}
	
	  {% for subforum in forum.subforums %}
	  <tr class="forum_polosa">
	    <td class="forstatus" width="5%">
			
		<span><img class="iconline" src="{{ subforum.icon_url }}" alt=""/></span></td>
		
			
			<td class="forum_name" width="60%">
			{% if subforum.description %}
			<a class="namefor west animation" href="{{ subforum.forum_url }}" title="{{ subforum.description }}">{{ subforum.title }}</a>
			{% else %}
			
			<a class="namefor animation" href="{{ subforum.forum_url }}">{{ subforum.title }}</a>
			
			{% endif %}
			{% if subforum.admin_bar %}<div class="sub_admin">{{ subforum.admin_bar }}</div>{% endif %}
		</td>
			<td class="theme_detal">
		{% if subforum.themes %}
	
		<ul>
			<li>Тем: <strong>{{ subforum.themes }}</strong></li>
			<li>Ответов: <strong>{{ subforum.posts }}</strong></li>
		</ul>
	
		{% endif %}
			</td>
		<td class="forum_message" width="20%">
		
		{% if subforum.themes %}
		{{ subforum.last_post }}   
		
		
		{% else %}
		<div class="no_theme">В раздел не добавлено не одной темы. </div>
		{% endif %}
	    </td>
		
		
	
	 </tr>
	  {% endfor %}
	  
	  {% endif %}
	   </table>
	
	 
</div>
{% endif %}
<div class="top_meta">
    {% if add_link %}
	<div class="forum_add_theme"><a class="animation" href="{{ www_root }}/forum/add_theme_form/{{ forum.id }}">Новая тема</a> </div>
	{% endif %}
	<ul class="Forum_metas">
	<li class="meta">{{ meta }}</li> 
	<li>{{ navigation }}</li>
	</ul>
</div>
	
	{% if themes %}
	<div class="forum_category">
	   <div class="forum_title"> <div class="forum_name">{{ forum.title }}</div> </div>
	
	   
	   <table width="100%" class="forum_table">
	
	  {% for theme in themes %}
	 
	  <tr class="forum_polosa  {{ theme.fps_css_class }}">
	
	  <td class="forstatus" width="5%">{{ theme.themeicon }}</td>
	  <td class="forum_name" width="60%">
	  {% if theme.importantly %}<span class="theme_importantly">{{ theme.importantly }} </span> {% endif %}
	 <span class="themename">
	 {% if theme.description %}
	 <a class="namefor west animation" title="{{ theme.description }}" href="{{ theme.theme_url }}">{{ theme.title }}</a>
	 {% else %}
	  <a class="namefor animation" href="{{ theme.theme_url }}">{{ theme.title }}</a>
	 {% endif %}
	 </span>
	 <div class="theme_author">	Автор темы: {{ theme.author.name }}</div>
 {{ theme.near_pages }}
	</td>
	  <td class="theme_detal" width="15%">
		<ul>
			<li>{{ theme.posts }} Ответов </li>
			<li> {{ theme.views }} Просмотров</li>
			
		</ul>
		</td>
		
	  <td class="forum_message" width="30%">
	  
	  {{ theme.last_post }}<br />Сообщение от: <span class="lastPostUser">{{ theme.last_user }}</span><br />{{ theme.last_page }}
	  {% if theme.adminbar %}<div class="theme_admin">{{ theme.adminbar }}</div>{% endif %}
	  </td>
	  
	  {% endfor %}
	   </tr>
	
	  {% else %}
	  <div class="forum_category">
	   <div class="forum_title"> <div class="forum_name">{{ forum.title }}</div> </div>
	  <div class="forum_errors ">Тем еще не создано. Вы можете быть первым 
	  
	  {% if add_link %}
	  {% if forum.subforums %}
	  <a href="{{ www_root }}/forum/add_theme_form/{{ subforum.id }}">Создать?</a>
	  {% else %}
	   <a href="{{ www_root }}/forum/add_theme_form/{{ forum.id }}">Создать?</a> 
	  
	  {% endif %}
	  {% endif %}
	  
	
	  </div>
	  	
	
	  {% endif %}
   
	  </table>
	
	<div style="clear:both;"></div>
	
     <div class="meta_bottom">
           <div class="meta_left">В этом форуме <b>{{ forum.themes }}</b> тем. На странице показано <b>{{ forum.count_themes_here }}</b> тем.</td></div>
	      {% if forum.who_is_here %} <div class="meta_right">Форум просматривают: {{ forum.who_is_here }}</div> {% endif %}
	</div>
	
	<div class="forum_pagination">
       {{ pagination }}
    </div>
	
	<div class="forum_content">
          
	       <div class="forum_polosa">
		       <table class="icons_forum">
			   <tr>
					<td class="icon_forum">
						<img src="{{ template_path }}/img/folder.gif" alt=""/>
						Нет новых сообщений
						<img src="{{ template_path }}/img/folder_new.gif" alt=""/>
						Есть новое сообщение
						
		            </td>
					<td class="icon_forum">
                    <span class="siu_title"><img src="{{ template_path }}/img/folder_lock.gif" alt=""/></span>
				    <span class="siu_data">Закрытая тема</span>
					<span class="siu_title"><img src="{{ template_path }}/img/folder_lock_new.gif" alt=""/></span>
					<span class="siu_data">Закрытая тема с ответом </span>
				 </td>
					
					
					<td class="icon_forum">
						<img src="{{ template_path }}/img/folder_hot.gif" alt=""/>
						<span class="siu_data">Горячая тема</span>
						<span class="siu_title"><img src="{{ template_path }}/img/folder_hot_new.gif" alt=""/></span>
						<span class="siu_data">Горячая тема с новыми сообщениями</span>
		          </td>
					</tr>
		       </table>
		   </div>
	</div>